/* common styles */
*{
    margin: 0 ;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 20px;
}

.pera{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}       

.btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 800; 
}

.org-text{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* header */
header{
    width: 1170px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    padding: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #424247;
}
nav .home{
    color: #FF5400;
}
.three-line{
    display: none;
}





/* main */
main{
    width: 1170px;
    margin: 0 auto;
}












/* footer */
footer{
    background-color: #F3F3F3;
}
footer img{
    width: 40px;
}
footer h1{
    font-size: 32px;
    padding-top: 100px;
    font-weight: 800;
    font-size: 32px;
}
footer p{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
footer ul{
    list-style: none;
    display: block;
    margin: 33px auto ;
    width: 200px;
}
footer ul li{
    display: inline;
    padding: 0 10px;
}
hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 auto;
}

.rights{
    padding: 50px 0 110px 0;
}