/* common styles */
*{
    margin: 0 ;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 20px;
}

.pera{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}       

.btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 800; 
}

.org-text{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* header */
header{
    width: 1170px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
}

nav .logo h1 img{
    width: 48px;

}

nav .logo h1{
        font-size: 36px;
        font-weight: 800;
        font-size: 32px;
        padding: 50px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.nav-h1{
    font-weight: 800;
    font-size: 40px;
}
nav ul,.three-line{
    list-style: none;
    padding: 60px 0px;
}
.three-line{
    margin-right: 20px;
}
nav ul li{
    display: inline;
    padding: 0 10px;
}
nav ul li:last-child{
    padding-right: 0;
}
nav ul li a{
    text-decoration: none;
    color: #424247;
}
nav .home{
    color: #FF5400;
}
.three-line{
    display: none;
}
/* header banner */
.banner{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}
.banner h1{
    padding: 100px 0 25px 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.banner-desc{
    color: #FFF;
    width: 70%;
    margin: 0 auto;
}
.src-bar{
    justify-content: center;
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 850px;
    margin: 40px auto 0
    auto;
}
.src-bar input,select,button{
    width: 175px;
    padding: 16px;
    border-radius: 8px;
    margin: 10px;
    border: none;
    outline: none;
    height: 52px;
}
.src-bar>button{
    padding: 0px;
    font-weight: 400;
}
.src-bar select{
    color:#5A5A5D;
}
 

/* main */
main{
    width: 1170px;
    margin: 0 auto;
}


/* section tours */
.tours{
    display: flex;
    margin: 100px 0;
}
.tours-texts{
    margin-top: 40px;
}
.tours-texts h1{
    text-align: start;
    margin-bottom: 20px;

}
.tours-texts p{
    text-align: start;
    padding: 0 20px 0 0;
    margin: 0px 0;
}
.tours-texts ul{
    margin-left: 25px;
}
.tours-texts ul li{
    padding: 5px 0;
    color: #5A5A5D;
}
.tours-texts>button{
    margin: 20px 0 0 0;
}

/* section Destination */
.destination{
    margin-bottom: 100px;
}
.destination .row{
    width: 100%;
    display: flex;
    margin:  20px 0;
}
.destination .row div{
    position: relative;
    text-align: center;
    color: white;
}
.destination .row div h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destination img{
    margin: 0 12.5px;

}
.destination  .title{
    margin: 40px 0 20px 0;
}
.destination  .pera{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.maldives,.srilanka,.bangladesh{
    margin-left: 0;
}
.indonesia,.kashmir,.bandarban{
    margin-right: 0;
}

/* section choose */
.choose{
    margin-bottom: 100px;
}
.choose>p{
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}

.card-container{
    margin-top: 60px;
}
.card{
    width: 573px;
    height: 284px;            
}
.card-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 10px;
}
.card-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 10px;
}
.card-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
.card-1-2{
    display: flex;
    margin-bottom: 20px;
}

.card img{
    width: 64px;
    margin: 30px 0 0 20px ;
    padding: 5px;
}

.card h1{
    text-align: left;
    padding: 20px 0 0 30px;
    font-size: 25px;
}
.card p{
    text-align: left;
    padding: 0px ;
    width: 90%;
}
.card-1 p{
    padding: 20px 0 0 30px;
}
.card-3 p{
    padding: 20px 0 0 30px;
}

/* section newslatter */
.newslatter{
    display: flex;
    margin-bottom: 100px;
}
.newslatter-text{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-right: 50px;
    padding: 40px;
}
.newslatter-text h1{
    text-align: left;
}
.newslatter-text p{
    text-align: left;
    margin-top: 10px;
}
.newslatter-text input{
    width: 393px;
    padding: 15px 20px;
    margin: 7px 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline: none;
    border: none;
}
.newslatter-text button{
    width: 393px;
    height: 55px;
    margin: 15px 0;
    font-weight: 800;
}
.newslatter-text hr{
    width: 393px;
    height: 1.5px;
    border: none;
    background: #F3F3F3;
    margin: 10px 0 ;
}
.newslatter-img img{
    width: 100%;
}








/* footer */
footer{
    background-color: #F3F3F3;
}
footer img{
    width: 40px;
}
footer h1{
    font-size: 32px;
    padding-top: 100px;
    font-weight: 800;
    font-size: 32px;
}
.footer-h1{
    font-weight: 800;
    font-size: 40px;
}
footer p{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
footer ul{
    list-style: none;
    display: block;
    margin: 33px auto ;
    width: 200px;
}
footer ul li{
    display: inline;
    padding: 0 10px;
}
hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 auto;
}

.rights{
    padding: 50px 0 110px 0;
}