/* media styles */
/* for mobile */
@media screen and (max-width:600px){
    /* header */
    header{
        width: 100%;
    }
    .three-line{
        display: block;
    }
    nav ul{
        display: none;
    }
    nav .logo{
        margin-left: 20px;
    }
    nav .three-line{
        margin-right: 25px;
    }
    nav .logo h1{
        padding: 20px 10px;
    }
    .three-line{
        padding: 33px 0;
    }
    /* banner */
    .banner{
        width: 90%;
        margin: 0 auto;
        height: 540px;
    }
    .banner h1{
        padding: 10px;
        padding-top: 20px;
        font-size: 35px;
    }
    .banner p{
        font-size: 15px;
    }
    .src-bar{
        margin: 15px auto;
        width: 290px;
        align-items: center;
        flex-direction: column;
    }
    .src-bar input,select{
        width: 250px;
    }
    .src-bar button{
        width: 250px;
    }


    
    /* main */
    main{
        width: 100%;
    }



    /* section tour */
    .tours{
        flex-direction: column;
        margin: 40px 0;
    }
    .tours-texts{
        margin: 10px 30px;
        margin-bottom: 20px;
    }
    .tours-img img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    /* section Destination */
    .destination{
        margin-bottom: 50px;
    }
    .destination .destination-title{
        font-size: 30px;
    }
    .destination .row{
        flex-direction: column;
        margin: 20px;
    }
    .destination img{
        width: 335px;
        height: 176px;
        display: block;
        margin: 0 auto;
    }
    .destination .row{
        margin: 10px 0;
    }
    .destination .row div{
        margin-top: 10px; 
    }
    .destination .row div:first-child{
        margin-top: 0;
    }
    .destination  .title{
        margin: 50px 0 10px 0;
    }
    .destination>h1{
        font-size: 35px;
    }
    .destination  .pera{
        width: 100%;
        padding: 0 20px;
    }


    /* section choose */
    .choose{
        margin-bottom: 50px;
    }
    .card{
        width: 335px;
        height: 289px;
    }
    .card-container{
        margin-top: 30px;
    }
    .card-1,.card-2{
        margin: 0 auto 20px auto;
    }
    .card-1-2{
        flex-direction: column;
        margin: 0 auto 1px auto;
    }
    .card img{
        margin: 20px 0 0 20px ;
    }


    /* section  Big January sale*/
    .big-january-sale{
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .sale-texts h1{
        font-size: 30px;
    }
    .sale-img img{
        width: 95%;
        display: block;
        margin: 20px auto 40px auto;
    }


    /* section newslatter */
    .newslatter{
        margin-bottom: 50px;
        flex-direction: column;
    }
    .newslatter-text{
        width: 95%;
        margin: 10px auto 0 auto;
        display: block;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .newslatter-text input{
        width: 325px;
        margin: 7px auto 0 auto;
    }
    .newslatter-text button{
        width: 325px;
        margin: 15px auto 0 auto;
    }
    .newslatter-text hr{
        width: 340px;
        display: block;
        margin: 15px auto  ;
    }
    .newslatter-img img{
        width: 95%;
        margin: 10px auto 0 auto;
        display: block;
    }
    .save{
        position: absolute;
        bottom: 38px;
        right: 17px;
        width: 250px;
        transform: rotate(-19.628deg);
        border-radius: 16px;
        background: #FF5400;
    }


    /* footer */
    footer h1{
        padding-top: 20px;
    }
    footer p{
        padding: 10px;
        width: 80%;
    }
    footer ul{
        margin: 10px auto;
    }
    .hr{
        width: 76%;
        height: 1px;
        border: none;
        background: #bbbbbb;
    }
    .rights{
        padding: 20px 0;
    }
}